<div id="side-bar" class="col-1">
    <div class="col text-center p-2">
        <img src="../assets/Rectangle.png" alt="">
    </div>
    <div class="col text-center">
        <img src="../assets/fi_home.png" alt="">
        <p>Home</p>
    </div>
    <div class="col text-center">
        <img src="../assets/Administrator.png" alt="">
    </div>
</div>